/bin/
/InfoFiles/*.txt
lib/StoffelGraphicsRunClass.jar

.externalToolBuilders/MakeJar.launch

projectBuilder.xml
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
